---
import MainLayout from '../layouts/MainLayout.astro';
import Head from '../components/head.astro';
import LoginForm from '../components/LoginForm.tsx';

// Middleware provides session data directly (and safely)
const { session } = Astro.locals;
---
<html lang="en">

    <Head />

    <body class="bg-gray-100 text-gray-800">
        {session ? (
            <MainLayout>
                <!-- Populate Slot if needed -->
            </MainLayout>
        ) : (
            
            <div class="text-center p-4">
                <h1 class="text-5xl font-bold text-gray-900">Apollo</h1>
                <p class="mt-4 text-xl text-gray-600">Your personal knowledge base, in the cloud.</p>
                
                <LoginForm client:load />

            </div>
        )}
    </body>

</html>