---
/*
    Since both index.astro and [slug].astro serve as enrty points to the app, 
    we keep the page logic here to avoid repeating code across multiple files.
    Index and [slug] serve as route handlers only.
    Page logic is handled here.
*/
import MainLayout from '../layouts/MainLayout.astro';
import Head from '../components/Head.astro';
import AuthForm from './AuthForm.tsx';

// Middleware provides session data directly (and safely)
const { session } = Astro.locals;
---
<html lang="en">

    <Head />

    <body class="bg-gray-100 text-gray-800">
        {session ? (
            <MainLayout>
                <!-- Populate Slot if needed -->
            </MainLayout>
        ) : (
            
            <div class="flex items-center justify-center min-h-screen p-4">
                <div class="w-full max-w-md">
                    <div class="text-center mb-8">
                        <h1 class="text-4xl font-bold text-gray-900">apollo</h1>
                        <p class="mt-2 text-lg text-gray-600">Your personal knowledge base.</p>
                    </div>
                    <AuthForm client:load />
                </div>
            </div>
        )}
    </body>

</html>